
@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game</h2>

<div class="container well">
    <h2>OPTIONS</h2>
    <div class="row">

        <div class="col-md-3">
            <h3>CAPITAL</h3>
            <h4>Invest</h4>
            <h4>Research</h4>
            <h4>Defend</h4>
            <h4>Expand</h4>
            <h4>Pass</h4>

        </div>

        <div class="col-md-3">
            <h3>RESOURCES</h3>
            <h4>Extract</h4>
            <h4>Conserve</h4>
            <h4>Trade</h4>
            <h4>Ration</h4>
            <h4>Pass</h4>

        </div>

        <div class="col-md-4">
            <h3>POPULATION</h3>
            <h4>Entertain</h4>
            <h4>Direct</h4>
            <h4>Sacrifice</h4>
            <h4>Educate</h4>
            <h4>Pass</h4>

        </div>

    </div>

    <div class="row">
        <h4>MONEY: </h4>
        <h4>RESOURCES</h4>
        <h4>POPULATION:</h4>
        <h4>HAPPINESS:</h4>

    </div>
    <br />
    <br />
    <div class="row">
        <p>THIS IS WHERE THE MESSAGES GO</p>
    </div>




</div>
